header{
  position:relative;
  top:120px;
  height:400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-color: #c99000;
  background-image: url(http://www.transparenttextures.com/patterns/random-grey-variations.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  
}
.name{
position: relative;
top:-60px;
}