.page-header{
  padding-top: 120px;
  height:400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-color: #c99000;
  background-image: url(http://www.transparenttextures.com/patterns/random-grey-variations.png);
/* This is mostly ntended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  
}

.avatar img{
  width: 100%;
  height: 220px;

}

.name h2{
  margin: 0px;
  color:white;
  font-weight: normal;

}